We are using the following stack:

## Front End

- **Next.js 15** - with App Router
- **React 19** - with Server Components
- **Tailwind CSS** - for styles
- **shadcn/ui** - for UI components
- **Zustand** - for state management
- **Jest** - for testing
- **Motion** - for animations
- **Lucide React** - for icons
- **Typescript** - for static typing

## Back End

- **SQLite 3** - for local database
- **Prisma ORM** - for ORM
- **Next.js API Routes** - for endpoints
- **Node.js fs/promises** - for file manipulation

### Other dependencies

- **Event Source Polyfill** - for event support in old browsers
- **Event Source Stream** - for event support in old browsers
- **Tanstack Query** - for data management
- **Bull** - for image processing
- **Chokidar** - for folder monitoring
- **Exifr** - for image metadata extraction
- **Sharp** - for image processing
- **React Scan** - for rendering debugging
- **React Color** - for color picker
- **Next Themes** - for theme management
- **Eslint** - for linting

always check the package.json file to see the dependencies and the scripts available.


